* {
  margin: 0 auto;
}

.light-coral {
  color: lightcoral;
}

.banner-img {
    max-width: 50%;
    height: auto;
    display: block;
}

.dest-cards-item {
  position: relative;
}

.dest-cards-img {
  width: 90%;
  height: auto;
  display: block;
}

.dest-cards-city {
  color: white;
  position: absolute;
  bottom: 0.5rem;;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.destinations-scroll {
  display: flex;
  border-bottom: solid rgb(144, 143, 143) 1px;
  border-top: solid rgb(144, 143, 143) 1px;
  padding: 0.8%;
  margin-top: 2%;
  width: 90%;
}


.quiz-link-text {
  padding: 5%;
  border-bottom: grey solid 0.4px;
}

.quiz-link-text span {
  color: pink;
  text-decoration: underline;
}


.news-weather-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

