* {
  margin: 0 auto;
  color: rgb(77, 76, 76);
}

.light-coral {
  color: rgb(255, 119, 119);
  font-weight:bolder;
}

.banner-img {
    max-width: 50%;
    height: auto;
    display: block;
}

.dest-cards-item {
  position: relative;
}

.dest-cards-img {
  width: 90%;
  height: auto;
  display: block;
}

.dest-cards-city {
  color: white;
  position: absolute;
  bottom: 0.5rem;;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.destinations-scroll {
  display: flex;
  border-bottom: solid rgb(144, 143, 143) 1px;
  border-top: solid rgb(144, 143, 143) 1px;
  padding: 0.8%;
  margin-top: 2%;
  width: 90%;
}


.quiz-link-text {
  margin: 2% 4%;
  padding: 2%;
  border: rgb(229, 230, 231) solid 0.1px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 8vh;
  box-shadow: 0 0 13px 0 rgb(217, 217, 217)
}

.quiz-link-text span {
  color: rgb(255, 119, 119);
  text-decoration: none;
}


.news-weather-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

.news-card-img {
  width: 33vw;
  height: auto;
}

