* {
  margin: 0 auto;
  color: rgb(77, 76, 76);
}

.light-coral {
  color: rgb(255, 119, 119);
  font-weight:bolder;
}

.banner-container img {
  max-width: 45%;
  height: auto;
  display: block;
  margin-bottom: -0.5%;
}

.footer-web {
  display: flex;
  justify-content: flex-end; /* Aligns child elements to the right */
  align-items: center; /* Center items vertically (optional, if needed) */
  width: 100%; /* Ensure the footer takes up full width */
}

.footer-mobile {
  display: none;
}

.footer h4 {
  font-size: 1rem; /* Font size as needed */
  margin: 5% 7% 2% 0;
}

.browse-dest {
  border-top: solid rgb(156, 156, 156) 0.5px;
  padding-top: 4%;
  padding-bottom: 1%;
  width: 90%;
  display: grid;
  justify-content: start;
}

.browse-dest h1 {
  text-align: left;
  font-size: 2.3rem;
}

.dest-cards-item {
  position: relative;
  padding-top: 3%;
}

.dest-cards-img {
  width: 18vw; /* Keep the width consistent */
  height: 12vw; /* Fixed height for uniformity */
  object-fit: cover; /* Ensure the image covers the area while preserving aspect ratio */
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zoom and shadow effects */
}

.dest-cards-item:hover .dest-cards-img {
  transform: scale(1.05); /* Slightly zooms out the image on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
}

.dest-cards-city {
  color: white;
  position: absolute;
  bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 2rem;
  text-shadow: 0 0 8vw 0 rgb(217, 217, 217);
}

.destinations-scroll {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.destcards-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2%;
}

.dest-scroll-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  margin: 0 45%;
  margin-bottom: 3%;
}

.dest-scroll-buttons button {
  color: rgb(65, 65, 65);
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color:rgb(252, 225, 225);
  border-radius: 50%;
  font-size: 1.2vw;
  font-family: 'arial';
  width: 2.5vw;
  height: 2.5vw;
}

.dest-scroll-buttons button:hover {
  transform: scale(1.05);
  background-color:#fd8888;
}

.take-quiz-span {
  font-size: 1.5rem;
  transition: font-size 0.3s ease, text-shadow 0.3s;
  font-weight: bolder;
}

.take-quiz-span:hover {
  font-size: 1.6rem;
  text-shadow: 0 0 1vw 0 rgb(217, 217, 217);
}

.quiz-container {
  width: 98%;
}

.weather-container {
  margin-bottom: 5%;
}

.quiz-link-text {
  margin: 2% 4%;
  padding: 1%;
  border: rgb(229, 230, 231) solid 0.1px;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 9vh;
  box-shadow: 0 0 1vw 0 rgb(217, 217, 217);
}

.quiz-link-text h1 {
  font-size: 1.4rem;
  display: inline-block; 
  margin: 0 0.5rem;
}

.quiz-link-text span {
  color: rgb(255, 119, 119);
  text-decoration: none;
}


.news-quiz-container {
  padding: 3%;
  box-shadow: 0 0 1vw 0 rgb(217, 217, 217);
  margin-right: 2%;
}

.news-quiz-container h1 {
  margin-left: 7%;
  margin-top: 1%;
  font-size: 2.2rem;
  margin-bottom: -1%;
}


.news-title-span {
  color: rgb(255, 119, 119);
  font-weight: bold;
  font-size: 2.6rem;
}

.news-card {
  display: flex;
  align-items: center; /* Vertically center items */
  box-shadow: 0 0 0.4vw 0 rgb(217, 217, 217);
  border-radius: 1rem;
  padding: 2.5%;
  margin: 5%;
  background: rgb(255, 234, 234, 0.2);
}

.news-card-img {
  width: 30vw;
  height: auto;
  /* Add margin if needed to adjust spacing */
}

.news-card-text {
  padding: 4%;
  /* Add margin or spacing as needed */
  /* Ensure text content does not push the image out of alignment */
}

/* Additional styling for elements inside news-card-text */
.news-card-text h2 {
  font-size: 1.7rem;
  margin-bottom: 2%;
}

.news-card-text p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-right: 2%;
  font-weight: 600;
}

.news-card-text h4 {
  margin-bottom: 3%;
  color: grey;
  font-weight: 400;
}

.newscard-read-more {
  color: rgb(255, 59, 59);
  font-weight: 900;
  margin-top: 1%;
}

.newscard-read-more:hover {
  color: rgb(255, 0, 34);
  font-weight: bold;
}


.newspage-container {
  padding: 5%;
}

.newspage-back-button {
  width: 10vw;
  height: 6vh;
  background-color:rgb(255, 119, 119);
  border:none;
  border-radius: 2vw;
  color: white;
  font-size: 1.2rem;
  margin-top: 5%;
  margin-left:80%;
}

.newspage-back-button:hover {
  background:rgb(252, 63, 88);
  font-weight: bold;
}

.newspage-container h1 {
  margin: 0 5% 5% 0;
  line-height: 3.2rem;
  font-size: 2.5rem;
}

.newspage-container p {
  line-height: 3rem;
  color: grey;
}

.news-page-paragraph {
  margin-bottom: 1%;
}

.news-page-img {
  width: 100%;
  height: auto;
}

.news-page-text {
  margin-top: 2%;
  white-space: pre-line;
  line-height: 1.8rem;
  font-weight: bold;
  font-size: 1.1rem;
}


.news-weather-container {
  display: grid;
  grid-template-columns: 80% 20%; /* Two equal-width columns */
  margin: 0 5%;
}


.news-title-span {
  color: rgb(255, 119, 119);
  font-weight:bolder;
}

.weather-container {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and margins are included in the width calculation */
}

.weather-subcontainer h1 {
  margin: 3% 5% 5% 5%;
}

.weather-subcontainer {
  padding: 9%;
  box-shadow: 0 0 1vw 0 rgb(217, 217, 217);
}

.dest-page-subtitle {
  font-size: 2rem;

}

.weather-item {
  background: rgb(255, 234, 234, 0.2);
  border-radius: 10%;
  box-shadow: 0 0 0.5vw 0 rgb(217, 217, 217);
  text-align: center;
  padding: 15% 8%;
  margin-top: 10%;
}

.weather-search-icon {
  width: 80%;
}

.city-input {
  width: 100%; /* Make the input take up the full width of its container */
  max-width: 100%; /* Ensure it does not exceed the width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-size: 1rem;
  border-radius: 1rem;
  border: rgb(255, 119, 119) solid 0.5px;
  background: rgb(255, 119, 119);
  color: white;
  font-weight: bold;
  padding: 5%;
}

.weather-search-bar {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  width: 100%; /* Make the search bar container responsive */
  box-sizing: border-box; /* Include padding and border in the container's total width */
  margin-bottom: 20%;
  gap: 0.1rem;
}

.city-input::placeholder {
  color: white; 
  opacity: 1;
  font-weight: bold;
}

.weather-img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-top: 5%;
}



.dest-page {
  margin: 3%;
}

.dest-page-img {
  width: 80%;
  margin-bottom: 1%;
}

.dest-page h1 {
  font-size: 3vw;
  margin-bottom: 3%;
  margin-left: 0;
}

.dest-page-data {
  font-weight: bold;
  line-height: 2cap;
}

.dest-page-text {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 2rem;
  margin-left: 0;
}

.dest-page-subtitle {
  color: rgb(255, 119, 119);
  font-weight:bolder;
  line-height: 4rem;
}



.quiz-result-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.quiz-result-content h2 {
  margin-bottom: 20px;
}

.quiz-result-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.quiz-result-content button:hover {
  background-color: #0056b3;
}


.quiz-main-container {
  width: 100%;
  margin-top: 8%;
}

.quiz-main-container h1 {
  color: rgb(255, 119, 119);
  font-weight:bolder;
  margin-left: 0;
  margin-bottom: 8%;
}

.answer-item {
  margin-bottom: 1em;
  padding: 1.2em;
  border-radius: 10px;
  background-color: rgb(255, 119, 119);
  border: 1px solid #ddd;
}

.answer-item input[type="radio"] {
  margin-right: 2em;
}

.answer-item label {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

/* Optional: Add styles for selected answer */
.answer-item input[type="radio"]:checked + label {
  font-weight: bold;
  color: white;
}

.quiz-next-button {
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5rem;
  color: rgb(255, 119, 119);
  margin: 5% 40%;
  font-size: 1rem;
  font-weight:900;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.quiz-next-button:hover {
  transform: scale(1.05)
}

.modal {
  display: flex; /* Enable Flexbox */
  flex-direction: column;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  height: 50vh;
}

.modal h1 {
  color: rgb(255, 119, 119);
  text-align: center;
  margin-top: 10%;
  margin-right: 7.5%;
}

.modal-result-span {
  color: rgb(255, 50, 50);
  font-weight: 900;
}

.modal button {
  padding: 1rem 3rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5rem;
  color: rgb(255, 50, 50);
  font-size: 1rem;
  font-weight: 900;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Remove margin to avoid uncentering */
  margin-top: 20%;
}

.modal button:hover {
  transform: scale(1.05)
}

/* Additional styles when viewType is 'quiz' */
.news-quiz-container.quiz-view {
  background-color: rgb(252, 225, 225); /* Example: change background color */
  padding: 5% 30%;
  /* Other quiz-specific styles */
}

.weather-bottom-space {
  display: none;
}


@media only screen and (max-width: 768px) {
  * {
    margin: 0 auto;
    color: rgb(77, 76, 76);
  }

  .light-coral {
    color: rgb(255, 119, 119);
    font-weight: bolder;
  }

  .banner-container {
    position: fixed;
    background: white;
    height: 3rem;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(189, 189, 189, 0.2);
  }

  .banner-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: -0.5%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 1vh 0;
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 2px 15px rgba(189, 189, 189, 1.5);
}

  .footer h4 {
    font-size: 0.9rem;
    margin: 3% 5%;
  }

  .browse-dest {
    padding-top: 6%;
    padding-bottom: 2%;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .browse-dest h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-top: 3rem;
  }

  .dest-cards-item {
    padding-top: 4%;
  }

  .dest-cards-img {
    width: 65vw;
    height: 45vw;
  }

  .dest-cards-city {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }

  .destinations-scroll {
    margin-top: 3%;
  }

  .destcards-box {
    gap: 4%;
  }

  .dest-scroll-buttons {
    margin: 0 30%;
    margin-bottom: 5%;
  }

  .dest-scroll-buttons button {
    font-size: 4vw;
    width: 8vw;
    height: 8vw;
  }

  .take-quiz-span {
    font-size: 1.5rem;
  }

  .quiz-container {
    width: 100%;
  }

  .weather-container {
    margin-top: 7%;
  }

  .quiz-link-text {
    margin: 5% 2%;
    padding: 3%;
    line-height: 3vh;
  }

  .quiz-link-text h1 {
    font-size: 1.2rem;
  }

  .news-quiz-container {
    padding: 5%;
    margin-right: 0;
    margin-bottom: 10%;
  }

  .news-quiz-container h1 {
    margin-left: 0;
    margin-top: 2%;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .news-title-span {
    font-size: 2.2rem;
  }

  .news-card {
    flex-direction: column;
    padding: 5%;
    margin: 5% 0;
  }

  .news-card-img {
    width: 100%;
    margin-bottom: 3%;
  }

  .news-card-text h2 {
    font-size: 1.5rem;
  }

  .news-card-text p {
    line-height: 1.3rem;
    font-size: 1rem;
  }

  .news-card-text h4 {
    margin-bottom: 2%;
  }

  .newspage-back-button {
    width: 50vw;
    height: 8vh;
    font-size: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .newspage-container h1 {
    font-size: 2rem;
    margin: 0 0 5% 0;
    line-height: 2.5rem;
  }

  .newspage-container p {
    line-height: 2rem;
  }

  .news-page-text {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  .news-weather-container {
    grid-template-columns: 100%;
  }

  .news-title-span {
    font-size: 2rem;
  }


  .weather-container h1 {
    margin:0 0 5% 0;
  }

  .weather-subcontainer {
    margin-bottom: -10%;
  }

  .weather-subcontainer h1 {
    margin: 3% 5% -10% 5%;
  }

  .weather-item {
    padding: 20%;
    margin-top: 20%;
  }

  .weather-search-bar {
    grid-template-columns: 70% 30%;
  }

  .city-input {
    font-size: 1rem;
    padding: 7%;
  }

  .weather-location h1 {
    padding-bottom: 15%;
  }

  .weather-img {
    max-width: 100%;
    margin-top: 10%;
  }

  .dest-page {
    margin: 5%;
  }

  .dest-page-img {
    width: 100%;
    margin-bottom: 2%;
  }

  .dest-page h1 {
    font-size: 2.5rem;
  }

  .dest-page-text {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .dest-page-subtitle {
    font-size: 1.8rem;
  }

  .quiz-result-content {
    padding: 10%;
  }

  .quiz-result-content h2 {
    margin-bottom: 10%;
  }

  .quiz-result-content button {
    padding: 10px 15px;
    font-size: 1rem;
  }

  .quiz-main-container h1 {
    margin-bottom: 5%;
  }

  .answer-item {
    padding: 10%;
    margin-bottom: 10%;
  }

  .quiz-next-button {
    margin: 10% 25%;
    font-size: 1.2rem;
  }

  .modal {
    height: 60vh;
  }

  .modal h1 {
    margin-top: 5%;
    margin-right: 0;
  }

  .modal button {
    padding: 15px 25px;
    margin-top: 10%;
  }

  .news-quiz-container.quiz-view {
    padding: 10%;
  }

  .footer-web {
    display: none;
  }

  .footer {
    background:#fd8888;
    margin-top: 50%;
  }

  .footer-mobile {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    padding: 2% 0;
  }

  .footer-mobile img {
    transition: transform 0.3s ease;
  }

  .footer-mobile img:hover {
    transform: scale(1.05);
  }

  .footer-quizicon {
    width: 10vw;
  }

  .footer-weathericon {
    width: 10vw;
  }

  .footer-newsicon {
    width: 10vw;
  }

  .weather-bottom-space {
    display: block;
    height:140px;
  }
}